@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(170deg, salmon, rgb(255, 179, 0));
  padding: 20px;
}

#list-container {
  max-width: 512px;
  height: auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
  font-size: 85%;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

#h3 {
  font-size: 20px;
  font-weight: 600;
}

.input-field {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(252, 222, 169, 0.5);
  border-radius: 30px;
  padding-left: 10px;
  margin-bottom: 20px;
}

#input-text {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  padding-left: 10px;
  width: 100%;
}

#submit {
  border: none;
  outline: none;
  padding: 10px;
  background: salmon;
  cursor: pointer;
  border-radius: 50px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  color: white;
}

.dropdown {
  position: relative;
  left: 1%;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  display: flex;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content;
  cursor: pointer;
  font-size: 14px;
}

.select-clicked {
  background: transparent;
  justify-content: space-between;
  align-items: center;
  min-width: 75px;
}
.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid black;
  margin-left: 5px;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 10%;
  transform: translateX(-10%);
  opacity: 0;
  display: none;
  z-index: 1;
  min-width: 75px;
  font-size: 14px;
}

.menu li {
  cursor: pointer;
}

.menu li:hover {
  background: rgb(254, 163, 67);
}

.active {
  background: salmon;
}

.menu-open {
  display: block;
  opacity: 1;
}

#list-todo,
#list-done,
#list-overdue {
  font-weight: 500;
}

#list-todo li,
#list-done li,
#list-overdue li {
  list-style: none;
  font-size: 14px;
  padding: 7px 16px 12px 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  display: flex;
  flex-direction: row;
}

#list-todo li::before,
#list-overdue li::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url(asset/radio-button.png);
  top: 8px;
  left: 8px;
}

#list-todo li.checked,
#list-overdue li.checked {
  text-decoration: line-through 2px solid black;
  color: #555;
}

#list-todo li.checked::before,
#list-overdue li.checked::before {
  background-image: url(asset/check.png);
}

li span,
li span {
  color: #fff;
  background: red;
  padding: 1px 7px;
  border-radius: 50%;
  position: absolute;
  right: 0;
}

#delete-all {
  border: none;
  outline: none;
  background: rgb(255, 59, 59);
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  width: 30%;
  text-align: center;
  justify-content: center;
  margin-left: 70%;
  color: white;
}
